* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  background: #222;
}

.outer {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.box {
  background: rgb(170, 156, 156);
  padding: 30px;
  width: 350px;
  border-radius: 12px;
  box-shadow: 0 15px 30px rgba(0, 0, 0, 0.2);
}

.box h1 {
  text-align: center;
  margin-bottom: 20px;
  color: #0e0d0d;
}

.box input {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  border-radius: 6px;
  border: 1px solid #ccc;
  outline: none;
  margin-bottom: 10px;
}

.box button {
  width: 100%;
  padding: 10px;
  background: #667eea;
  color: white;
  border: none;
  border-radius: 6px;
  font-size: 16px;
  cursor: pointer;
}

.box ul{
  color: #0e0d0d;
}